/* Globale Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Immer 3 Spalten */
    gap: 32px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Dynamisches Layout für kleinere Bildschirme */
    }
  
    .shopping-card {
      margin-top: 20px;
    }
  }
  
  .product-pizza:hover, .product-sushi:hover, .product-burger:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .shopping-card {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    width: 100px;
    height: auto;
    border-radius: 8px;
  }
  
  .product-details {
    flex: 1;
    margin-left: 15px;
  }
  
  .product-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .product-price {
    color: #888;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  